---
 import '../styles/global.css' 
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title> Qr cod component</title>
	</head>
	<slot />
	<body class= "font - [Outfit] bg-slate-300 flex items-center justify-center mt-15">
	</body>
</html>


